.report_customer_debt_title_input {
    width: 26rem;
    height: 5rem; 
    margin-bottom: 10px;
    margin-top: 10px;
}

.report_company_debt_title_input {
    width: 26rem;
    height: 5rem; 
    margin-bottom: 10px;
    margin-top: 10px;
}

.page-content_statistic_debt__header__content__buttons {
    display: flex;
}

.page-content_statistic_debt__header__content__button {
    padding: 5px;
}

.page-content_statistic_debt__header__content__input {
    width: 28rem;
    height: 5rem; 
    margin-bottom: 10px;
    margin-top: 10px;
}
