$main-bg: #000;
$second-bg: #2e2e2e;
$txt-color: #000;
$txt-white: #fff;
$main-color: #77d24b;
$second-color: #62b4ff;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$sidebar-width: 24rem;
$border-radius: 15px;
$mobile-width: 600px;
$tablet-width: 1023px;
$topnav-height: 82px;

$transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
